# Kotlin / Gradle
/.gradle/
/build/
/out/
*.iml
*.class

# Android Studio
.idea/
*.apk
*.aab
/local.properties
/captures/

# C++ binaries
#PPNNI.Dummy/build/
*.exe
PPNNI.Dummy/
build/

# Misc
*.log
*.tmp
*.DS_Store
